#export SP_CLASS_DIR=$TOMCAT_HOME/webapps/iiq/WEB-INF/lib

export TOMCAT_HOME=/usr/local/Cellar/tomcat\@9/9.0.46/libexec
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_201.jdk/Contents/Home

export PAS_IIS_SERVER_IP=192.168.2.163
export PAS_ADMIN_NAME=Administrator
export PAS_ADMIN_PASSWORD=Cyberark1
export PAS_CPM_NAME=PasswordManager
export PAS_VAULT_NAME=DemoVault
export PAS_LOB_NAME=CICD
export PAS_SAFE_NAME=Project1
export PAS_SAFE_ADMIN_NAME=Admin1
export PAS_SAFE_ADMIN_PASSWORD=Cyberark1
export PAS_PLATFORM_ID=MySQL
export PAS_ACCOUNT_NAME=MySQL-Dev
export PAS_ACCOUNT_ADDRESS=conjur-master-mac
export PAS_ACCOUNT_USERNAME=javauser1
export PAS_ACCOUNT_SECRET_TYPE=Password
export PAS_ACCOUNT_SECRET_VALUE=RAndom12345=

export CONJUR_APPLIANCE_URL=https://conjur-master-mac
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_NAME=admin
export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd);
export CONJUR_IDENTITY=app-example-sidecar-user1
export CONJUR_GROUP_ROLE=$PAS_VAULT_NAME/$PAS_LOB_NAME/$PAS_SAFE_NAME/delegation/consumers
