<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <servlet>
    <servlet-name>ProvisioningServlet</servlet-name>
    <servlet-class>ProvisioningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvisioningServlet</servlet-name>
    <url-pattern>/provision</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PASServlet</servlet-name>
    <servlet-class>PASServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PASServlet</servlet-name>
    <url-pattern>/pas/login</url-pattern>
  </servlet-mapping>

  <filter>  
    <filter-name>PASFilter</filter-name>  
    <filter-class>PASBasicAuthFilter</filter-class>  
  </filter>  
  <filter-mapping>  
    <filter-name>PASFilter</filter-name>  
    <url-pattern>/pas/login</url-pattern>  
  </filter-mapping>  

  <servlet>
    <servlet-name>ConjurServlet</servlet-name>
    <servlet-class>ConjurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConjurServlet</servlet-name>
    <url-pattern>/conjur/login</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ConjurFilter</filter-name>
    <filter-class>ConjurBasicAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConjurFilter</filter-name>
    <url-pattern>/conjur/login</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>PASSafeServlet</servlet-name>
    <servlet-class>PASSafeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PASSafeServlet</servlet-name>
    <url-pattern>/pas/safes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PASAccountServlet</servlet-name>
    <servlet-class>PASAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PASAccountServlet</servlet-name>
    <url-pattern>/pas/accounts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConjurBasePolicyServlet</servlet-name>
    <servlet-class>ConjurBasePolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConjurBasePolicyServlet</servlet-name>
    <url-pattern>/conjur/basepolicy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConjurSafePolicyServlet</servlet-name>
    <servlet-class>ConjurSafePolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConjurSafePolicyServlet</servlet-name>
    <url-pattern>/conjur/safepolicy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConjurIdentityPolicyServlet</servlet-name>
    <servlet-class>ConjurIdentityPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConjurIdentityPolicyServlet</servlet-name>
    <url-pattern>/conjur/identitypolicy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ConjurAccessPolicyServlet</servlet-name>
    <servlet-class>ConjurAccessPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConjurAccessPolicyServlet</servlet-name>
    <url-pattern>/conjur/accesspolicy</url-pattern>
  </servlet-mapping>

</web-app>
