source ~/.bashrc

# values in access request UI
export PROJECT_NAME=user1
export PAS_SAFE_NAME=PetClinicDev
export PROJECT_ENVIRONMENT=prod
export PROJECT_IDENTITY=app-example-sidecar
export PROJECT_GROUP_ROLE=$PAS_SAFE_NAME/consumers

# values generated 
export PROJECT_ADMIN=user1-admin

# property values
export CONJUR_APPLIANCE_URL=https://conjur-master-mac
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_NAME=admin
export CONJUR_ADMIN_PASSWORD=$(keyring get conjur adminpwd);

export PAS_IIS_SERVER_IP=192.168.2.163
export PAS_ADMIN_NAME=Administrator
export PAS_ADMIN_PASSWORD=Cyberark1
export PAS_CPM_NAME=PasswordManager
export PAS_VAULT_NAME=DemoVault
export PAS_LOB_NAME=CICD
export PAS_SAFE_ADMIN_NAME=Admin1
export PAS_SAFE_ADMIN_PASSWORD=Cyberark1
export PAS_PLATFORM_ID=MySQL
export PAS_ACCOUNT_NAME=MySQL
export PAS_ACCOUNT_ADDRESS=conjur-master-mac
export PAS_ACCOUNT_USERNAME=javauser1
export PAS_ACCOUNT_SECRET_TYPE=Password
export PAS_ACCOUNT_SECRET_VALUE=RAndom12345=

export SYNCH_GROUP_ROLE=$PAS_VAULT_NAME/$PAS_LOB_NAME/$PAS_SAFE_NAME/delegation/consumers
