export DOCKER="docker"
###########################################################
# Target database parameters
###########################################################
export MYSQL_HOSTNAME=conjurmaster2.northcentralus.cloudapp.azure.com
export MYSQL_HOST_IP=168.62.244.231
export MYSQL_IMAGE=mysql:5.7.32
export MYSQL_SERVER=mysql-server
export MYSQL_ROOT_PASSWORD=Cyberark1
export MYSQL_PORT=3306
