# MySQL is easier to manage on macs as a container
if [[ "$(uname -s)" == "Linux" ]]; then
  export DOCKERI=""
  export DOCKERIT=""
else
  export DOCKERI="docker exec -i "
  export DOCKERIT="docker exec -it "
fi

###########################################################
# MySQL script parameters - not used by java servlets
###########################################################
#export MYSQL_HOSTNAME=conjurmaster2.northcentralus.cloudapp.azure.com
export MYSQL_HOSTNAME=localhost
export MYSQL_ROOT_PASSWORD=Cyberark1

###########################################################
# For MySQL in remote containers
###########################################################
export MYSQL_PORT=3306
export MYSQL_HOST_IP=168.62.244.231
export MYSQL_IMAGE=mysql:5.7.32
export MYSQL_SERVER=mysql-server
